@model Prova_web.Models.Produto

@{
    ViewBag.Title = "Novo Produto";
}

<h2>Novo Produto</h2>

@using (Html.BeginForm("SalvarProduto", "Produto", FormMethod.Post))
{

    <div class="form-horizontal">
        <hr />

        @Html.Partial("_FrmProduto")

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-dark" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Index", "Produto"))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <br>
            <input type="submit" value="Voltar" class="btn btn-primary" />
        </div>
    </div>
}
